@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.main-russian{
  padding: 10px;
}
.russian_checks{
  font-family: 'Ubuntu', sans-serif;
}
.rubyposition_under{
    display: inline-block;
}
.rubyposition_under ruby{
  display: flex;
  flex-direction: column;
  /* text-align: justify;  /* この指定は text-align-last を IE に対応させるために必要 
  text-align-last: justify; */
  ruby-position: under;
  font-size:larger;
}

.case{
  color: royalblue;
}

.POS{
  color:blueviolet;
}

.gender{
  color:brown;
}
rt {
  text-align: left;
}